name: Build Artifacts

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Environment
      uses: ./.github/actions/setup-env

    - name: Build Artifacts
      run: dotnet pack ./Questy.Autofac/Questy.Autofac.csproj --configuration Release --output "./artifacts" --include-source

    - name: Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: 'artifacts.zip'
        path: ./artifacts/*
